@using Hospital.DAL.Entities
@model Doctor
@{
     ViewData["Title"] = "Doctors";
    Layout = "~/Views/Shared/GetMedicalRecord.cshtml";
}

@section Style {
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="/css/style.css">
    @*  <link rel="stylesheet" href="/css/AddAppointment.css"> *@
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/AddMed.css">


}
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Doctor Information</h3>
        </div>
        <div class="card-body">
            <h5>Basic Information</h5>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>@Model.FirstName @Model.LastName</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>@Model.Gender</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>@Model.PhoneNumber</td>
                    </tr>
                </tbody>
            </table>

            <h5 class="mt-4">Schedule</h5>
            @if (Model.Schedules != null && Model.Schedules.Any())
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sec in Model.Schedules)
                        {
                            <tr>
                                <td>@sec.Day</td>
                                <td>@sec.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No schedule available.</p>
            }

            <!-- Go Back Button -->
            <a href="/" class="btn btn-go-back">Go Back to Home</a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
