@using Hospital.DAL.Entities
@using Hospital.DAL.Entities.OwnedTypes
@model List<Appointment>

@{
    ViewData["Title"] = "ListAppointments";
    Layout = "~/Views/Shared/_ListAppointmentLayout.cshtml";
}

@section Style {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/newregister.css">
    <link href="~/css/appointment.css" rel="stylesheet" />
    <link href="~/css/cardstyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/listappointment.css" rel="stylesheet" />
}

<div class="container d-flex justify-content-center">
    <div class="table-responsive" style="max-width: 1000px; margin: 30px auto;">
        <h2 class="text-center">List Of Appointments</h2>
        <div class="centered">
            <h4>Description:</h4>
            <h5>1. &nbsp; You have to wait until your appointment is approved.</h5>
            <h5>2. &nbsp; If the status is "Checked", then your appointment is done with the doctor.</h5>
            <h5>3. &nbsp; If the appointment is not approved, request again.</h5>
        </div>

        <br />

        <p class="text-center">
            <a asp-action="AddAppointment" asp-controller="Patient" class="btn btn-blue">Create New</a>
        </p>


        <table class="table table-bordered table-hover table-striped text-center" style="margin-top: 20px;">
            <thead>
            <thead>
                <tr style="background-color: #003366; color: white;">
                    <!-- Dark blue header -->
                    <th style="font-size: 1.2rem;">Doctor Name</th> <!-- Slightly larger font -->
                    <th style="font-size: 1rem;">Date</th> <!-- Smaller font -->
                    <th style="font-size: 1rem;">Notes</th> <!-- Smaller font -->
                    <th style="font-size: 1rem;">Appointment Id</th> <!-- Smaller font -->
                    <th style="font-size: 1rem;">Status</th> <!-- Smaller font -->
                    <th style="font-size: 1rem;">Action</th> <!-- Smaller font -->
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Doctor?.FirstName @item.Doctor?.LastName</td>
                        <td>@Html.DisplayFor(modelItem => item.AppointmentDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                        <td>@Html.DisplayFor(m => item.AppointmentID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>
                            <a href="@Url.Action("AppointmentDetails", new { id = item.AppointmentID })">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zM1.939 12.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
