
@{
    ViewData["Title"] = "Index";
    Layout = "Admin_Layout";
}

<h1>Hospital Dashboard</h1>
<div class="dashboard">
    <div class="card">
        <div class="info">
            <div class="number">@Model.NoOfDoctors</div>
            <div class="label">No of Doctors</div>
        </div>
        <i class="fas fa-user-md"></i>
    </div>
    <div class="card">
        <div class="info">
            <div class="number">@Model.NoOfPatients</div>
            <div class="label">No of Patients</div>
        </div>
        <i class="fas fa-user"></i>
    </div>
    <div class="card">
        <div class="info">
            <div class="number">@Model.NoOfAppoint</div>
            <div class="label">No of Appointments</div>
        </div>
        <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="card">
        <div class="info">
            <div class="number">@Model.NoOfMedical</div>
            <div class="label">No of Medical Records</div>
        </div>
        <i class="fas fa-file-medical"></i>
    </div>
    <div class="card">
        <div class="info">
            <div class="number">@Model.NoOfNewAppoint</div>
            <div class="label">New Appointments</div>
        </div>
        <i class="fas fa-calendar-plus"></i>
    </div>
    <div class="card">
        <div class="info">
            <div class="number">@Model.NoOfTodayPatient</div>
            <div class="label">Today Patient</div>
        </div>
        <i class="fas fa-user-md"></i>
    </div>
</div>

