@using Hospital.BLL.Helpers
@using Hospital.DAL.Entities
@using Hospital.DAL.Entities.OwnedTypes
@model IEnumerable<Appointment>
@{
    ViewData["Title"] = "GetAppointments";
        
    }
        @section Style {
         @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
             <link rel="stylesheet" href="/css/newregister.css"> 
            <link rel="stylesheet" href="/css/style.css">
            <link rel="stylesheet" href="/css/AddAppointment.css">
            <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/AddMed.css">
        

        }
@section Header {
    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
            <a asp-action="Index" asp-controller="Home" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fas fa-star-of-life me-3"></i>Hospital</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Home</a> <!-- Only Home link -->
                    @if (User.Identity.IsAuthenticated && User.IsInRole(Role.Patient.ToString()))
                    {

                        <a asp-action="AddAppointment" asp-controller="Patient" class="nav-item nav-link">Request Appointment</a>
                    }

                    @if (User.IsInRole(Role.Doctor.ToString()))
                    {

                        <a asp-action="AddMedicalRecord" asp-controller="Doctor" class="nav-item nav-link">Add Record</a>
                        <a asp-action="GetMedicalRecords" asp-controller="Doctor" class="nav-item nav-link">Records</a>
                    }
                </div>

                <div class="auth-buttons">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <a asp-action="LogOut" asp-controller="Account" class="btn btn-primary rounded-pill text-white py-2 px-4">Log out</a>
                    }
                    else
                    {
                        <a asp-action="LogIn" asp-controller="Account" class="btn btn-primary rounded-pill text-white py-2 px-4">Login</a>
                        <a asp-action="Register" asp-controller="Account" class="btn btn-primary rounded-pill text-white py-2 px-4">Create Account</a>
                    }
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
}
<div class="container mt-4">
<div class="container d-flex justify-content-center">
    <div class="table-responsive" style="max-width: 1000px; margin: 0 auto;">
        <h2 class="text-center">List Of Appointments</h2>

        <div class="row">

            <span class="col text-start">
                <span class="show_list">Show</span>
                <select id="show_records">
                    <option value="15" selected="">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>

                </select>

            </span>
            @* <span class="col-15 text-center">

                <a asp-action="AddMedicalRecord" asp-controller="Doctor" class="btn btn-success">Create New</a>
            </span> *@
        </div>
        <br />
        <table class="table table-bordered table-hover table-striped text-center">
            <thead>
                <tr>
                    <th style="color : black">
                        Patient Name
                    </th>
                    <th style ="color : black">
                        Date
                    </th >
                    <th style ="color : black">
                        Notes
                    </th >
                    <th style="color : black">
                        Appointment Id
                    </th>
                    <th style="color : black">
                        Status
                    </th>
                    <th style="color : black">
                        Action
                        </th>
                </tr>
            </thead>
            <tbody id="Insert">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Patient?.FirstName @item.Patient?.LastName
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AppointmentDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        @if (item.Status== AppointStatus.Approved)
                        {
                            <td>
                                @Html.DisplayFor(m => item.AppointmentID)
                            </td>
                        }
                        else
                        {
                            <td>
                                @(item.Status)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td >
                            <a id="pres" href="@Url.Action("EditAppointment", new {id = item.AppointmentID})" style="font-size: 19px ;color : darkblue">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                                </svg>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>
</div>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var inputElement = document.getElementById('show_records');
        // $("#show_records").change(function (e) {
                // e.preventDefault(); // Prevent default form submission
                // const id = $("#IdValue").val();

        inputElement.onchange = function (e) {
            // Code to execute when the input's value changes
            // const linkElement = document.getElementById('pres');
            // linkElement.href = 'https://example.com';

            // // Return the entire element
            // console.log(linkElement);
            // Make an AJAX request to the controller
                $.ajax({
                    type: "GET",
                    url: "/Doctor/GetAppoints",
                data: { num: inputElement.value },
                    success: function (response) {
                    var elemen = document.getElementById('Insert');
                    var link = document.getElementById('pres');
                        console.log(link);
                        elemen.innerHTML = "";
                    const keysToInclude = ["fullName", "date", "notes", "appointId", "status"];
                    response.forEach(person => {
                        // Create a new row
                        const row = document.createElement("tr");

                        // Create and append cells for each property
                        keysToInclude.forEach(key => {
                            const cell = document.createElement("td");
                            cell.textContent = person[key];  // Add the data to the cell
                            row.appendChild(cell);     // Append the cell to the row
                        });
                        const linkCell = document.createElement("td");
                        link.href = '/Doctor/EditAppointment/' + person['id'];
                        
                        linkCell.appendChild(link);
                        console.log(linkCell);
                        row.appendChild(linkCell);
                        // Append the row to the table body
                        elemen.appendChild(row);
                    });

                    },
                    error: function () {

                        console.log();
                    }
                });
            }

        // </script>

}