@using Hospital.BLL.Helpers
@using Hospital.DAL.Entities
@model List<MedicalRecord>
@{
    ViewData["Title"] = "GetMedicalRecords";
    
}

@section Style {
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="/css/style.css">
   @*  <link rel="stylesheet" href="/css/AddAppointment.css"> *@
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/AddMed.css">


}
@section Header {
    <!-- Navbar Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
            <a asp-action="Index" asp-controller="Home" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fas fa-star-of-life me-3"></i>Hospital</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a asp-action="Index" asp-controller="Home" class="nav-item nav-link">Home</a> <!-- Only Home link -->
                    @if (User.Identity.IsAuthenticated && User.IsInRole(Role.Patient.ToString()))
                    {

                        <a asp-action="AddAppointment" asp-controller="Patient" class="nav-item nav-link">Request Appointment</a>
                    }

                    @if (User.IsInRole(Role.Doctor.ToString()))
                    {

                        <a asp-action="AddMedicalRecord" asp-controller="Doctor" class="nav-item nav-link">Add Record</a>
                        <a asp-action="GetAppointments" asp-controller="Doctor" class="nav-item nav-link">Appointments</a>
                    }
                </div>

                <div class="auth-buttons">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <a asp-action="LogOut" asp-controller="Account" class="btn btn-primary rounded-pill text-white py-2 px-4">Log out</a>
                    }
                    else
                    {
                        <a asp-action="LogIn" asp-controller="Account" class="btn btn-primary rounded-pill text-white py-2 px-4">Login</a>
                        <a asp-action="Register" asp-controller="Account" class="btn btn-primary rounded-pill text-white py-2 px-4">Create Account</a>
                    }
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
}

<div class="container mt-4">
<div class="container d-flex justify-content-center">
    <div class="table-responsive" style="max-width: 1000px; margin: 0 auto;">
        <h2 class="text-center">List Of medicalRecords</h2>
        
        
            <div class="row">
                
            <span class="col text-start">
                <span class="show_list">Show</span>
                <select id="show_records" >
                    <option value="15" selected="">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    
                </select>

            </span>
                <span class="col-15 text-center">
                            
                    <a asp-action="AddMedicalRecord" asp-controller="Doctor" class="btn btn-success">Create New</a>
                </span>
            </div>
        <br />
        
        <table class="table table-bordered table-hover table-striped text-center">
            <thead>
                <tr>
                    <th>
                        Diagnosis
                    </th>
                    <th>
                        Treatment
                    </th>
                    <th>
                        RecordDate
                    </th>
                    <th>
                        Patient name
                    </th>
                    <th>
                         Patient Email
                    </th>
                    <th>
                        Patient Phone
                    </th>
                </tr>
            </thead>
            <tbody id="Insert">
                @foreach (var item in Model)
                {
                    <tr >
                        <td>
                            @item.Diagnosis
                        </td>
                        <td>
                            @item.Treatment
                        </td>
                        <td>
                            @item.RecordDate.Date
                        </td>
                        <td>
                             @item.Patient?.FirstName @item.Patient?.LastName
                        </td>
                        <td>
                            @item.Patient?.Email
                        </td>
                        <td>
                            @item.Patient?.PhoneNumber
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>
</div>
    


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        var inputElement = document.getElementById('show_records');
        // $("#show_records").change(function (e) {
                // e.preventDefault(); // Prevent default form submission
                // const id = $("#IdValue").val();

        inputElement.onchange = function (e) {
            // Code to execute when the input's value changes
        
                // Make an AJAX request to the controller
                $.ajax({
                    type: "GET",
                    url: "/Doctor/GetRecords",
                data: { num: inputElement.value },
                    success: function (response) {
                    var elemen = document.getElementById('Insert');
                        elemen.innerHTML = "";
                    const keysToInclude = ["diagnosis", "treatment", "recordDate", "fullName","email","phone"];
                    response.forEach(person => {
                        // Create a new row
                        const row = document.createElement("tr");

                        // Create and append cells for each property
                        keysToInclude.forEach(key => {
                            const cell = document.createElement("td");
                            cell.textContent = person[key];  // Add the data to the cell
                            row.appendChild(cell);     // Append the cell to the row
                        });

                        // Append the row to the table body
                        elemen.appendChild(row);
                    });

                    },
                    error: function () {

                        console.log();
                    }
                });
            }

        // </script>

}